.taskStatus {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 2px solid orange;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    transition: 0.3s;
    margin-right: 15px;
}

.done {
    background-color: orange;
    background-image: url(../../assets/whitecheck.png);
}

.taskName {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.taskText {
    padding: 15px;
    font-weight: 300;
}

.btnBox {
    display: flex;
    gap: 20px;
}