.customCheckbox {
    margin-right: 10px;
}

.customCheckbox > input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.customCheckbox > div {
    user-select: none;
    display: inline-flex;
    align-items: center;
}

.customCheckbox > div::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 2px solid orange;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    transition: 0.3s;
}

.customCheckbox > input:checked + div::before {
    background-color: orange;
    background-image: url(../../assets/whitecheck.png);
}

.customCheckbox > input:checked + div:hover::before {
    background-color: rgb(255, 188, 64);
    cursor: pointer;
}

.customCheckbox > input + div:hover::before {
    background-color: rgb(248, 222, 174);
    cursor: pointer;
}