.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
}

.app-content-wrapper {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
}

